* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background: linear-gradient(20deg, rgb(110, 47, 225), rgb(97, 146, 206));
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
